################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GenericGenetics/bin/Debug/netcoreapp3.0
*.dtbcache
/.vs/GenericGenetics/v15/Server/sqlite3
/.vs/GenericGenetics/v16/Server/sqlite3
/.vs/GenericGenetics/v15/Server/sqlite3/storage.ide
/GenericGenetics/obj
/.vs/GenericGenetics/v16/Server/sqlite3/db.lock
/.vs/GenericGenetics/v16/Server/sqlite3/storage.ide-shm
*.sqlite
/.vs/ProjectSettings.json
/.vs/GenericGenetics/v16/Server/sqlite3/storage.ide-wal


/.vs/GenericGenetics/v16/TestStore/0
*.suo
/Console/obj/Debug/netcoreapp3.1
*.cache
/Console/bin/Debug/netcoreapp3.0
/Console/obj/Debug/netcoreapp3.0
/Console/obj/Debug/netcoreapp2.1
/Console/obj
