################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ide-wal
*.ide
*.lock
*.sqlite
/.vs/ProjectSettings.json
*.ide-shm
/.vs/GenericGenetics/DesignTimeBuild/.dtbcache
