################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ide-wal
*.sqlite
/.vs/ProjectSettings.json
*.ide-shm
